# Configuration for coverage.py[run]branch = Truesource = jupyter_kernelinclude = */jupyter_kernel/*omit =    */setup.py[report]exclude_lines =    def __repr__    if __name__ == .__main__.: