include *.txt
include *.rst
include Makefile
recursive-include images *.png
recursive-include docs *.rst
recursive-include docs *.png
recursive-include docs *.py
recursive-include metakernel_echo *.*
prune metakernel_echo/build
recursive-include metakernel_python *.*
prune metakernel_python/build
recursive-include metakernel_bash *.*
prune metakernel_bash/build
prune .git
prune docs/build
prune dist
prune build
