include *.txt
include *.rst
include Makefile
recursive-include docs *.rst
recursive-include docs *.png
recursive-include docs *.py
recursive-include echo_kernel *.*
prune echo_kernel/build
recursive-include chatbot_kernel *.*
prune chatbot_kernel/build
recursive-include eval_kernel *.*
prune eval_kernel/build
recursive-include bash_kernel *.*
prune bash_kernel/build
prune .git
prune docs/build
prune dist
prune build
