[build-system]
requires = ["hatchling >=1.5"]
build-backend = "hatchling.build"

[project]
name = "metakernel"
authors = [{name = "Metakernel Developers", email = "steven.silvester@ieee.org"}]
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Framework :: IPython",
    "Topic :: System :: Shells",
]
urls = {Homepage = "https://github.com/Calysto/metakernel"}
requires-python = ">=3.7"
dependencies = [
    "ipykernel >=5.5.6",
    "jupyter_core >=4.9.2",
    "pexpect >=4.8",
    "jedi >=0.18",
]
dynamic = ["description", "version"]

[project.readme]
file = "README.rst"
content-type = "text/x-rst"

[project.optional-dependencies]
test = [
    "pytest",
    "pytest-cov",
    "requests",
    "jupyter_kernel_test",
    "pytest-timeout",
]
activity = ["portalocker"] # activity magic
parallel = ["ipyparallel"] # parallel magic

[tool.hatch.version]
path = "metakernel/__init__.py"

[tool.hatch.build]
exclude = [
  "docs/",
  "examples",
]

[tool.tbump.version]
current = "0.29.3"
regex = '''
  (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
  ((?P<channel>a|b|rc|.dev)(?P<release>\d+))?
'''

[tool.tbump.git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"

[[tool.tbump.file]]
src = "metakernel/__init__.py"

[tool.pytest.ini_options]
addopts= "-raXs  --durations 10 --color=yes --doctest-modules"
testpaths = ["metakernel/tests"]
timeout = 300
# Restore this setting to debug failures
# timeout_method = "thread"
filterwarnings= [
  # Fail on warnings
  "error",
  "ignore:unclosed event loop:ResourceWarning",
  "ignore:There is no current event loop:DeprecationWarning"
]
