[build-system]
requires = ["hatchling >=1.5"]
build-backend = "hatchling.build"

[project]
name = "metakernel"
authors = [{name = "Metakernel Developers", email = "steven.silvester@ieee.org"}]
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Framework :: IPython",
    "Topic :: System :: Shells",
]
urls = {Homepage = "https://github.com/Calysto/metakernel"}
requires-python = ">=3.7"
dependencies = [
    "ipykernel >=5.5.6",
    "jupyter_core >=4.9.2",
    "pexpect >=4.8",
    "jedi >=0.18",
]
dynamic = ["description", "version"]

[project.readme]
file = "README.rst"
content-type = "text/x-rst"

[project.optional-dependencies]
test = [
    "pytest",
    "pytest-cov",
    "requests",
    "jupyter_kernel_test",
    "pytest-timeout",
]
activity = ["portalocker"] # activity magic
parallel = ["ipyparallel"] # parallel magic

[tool.hatch.version]
path = "metakernel/__init__.py"

[tool.hatch.build]
exclude = [
  "docs/",
  "examples",
]

[tool.pytest.ini_options]
addopts= "-raXs  --durations 10 --color=yes --doctest-modules"
testpaths = ["metakernel/tests", "metakernel/magics/tests"]
timeout = 300
# Restore this setting to debug failures
# timeout_method = "thread"
filterwarnings= [
  # Fail on warnings
  "error",
  "ignore:unclosed event loop:ResourceWarning",
  "ignore:There is no current event loop:DeprecationWarning",
  # When we run ipcluster and then run the tests we get this warning
  "ignore:Widget.* is deprecated:DeprecationWarning",
  # Deprecated in Python 3.12. Warnings from use in jupyter_client.
  "ignore:.*datetime.utcnow.* is deprecated:DeprecationWarning",
]
