[build-system]
requires = ["hatchling >=1.5"]
build-backend = "hatchling.build"

[project]
name = "metakernel"
authors = [{name = "Metakernel Developers", email = "steven.silvester@ieee.org"}]
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Framework :: IPython",
    "Topic :: System :: Shells",
]
urls = {Homepage = "https://github.com/Calysto/metakernel"}
requires-python = ">=3.10"
dependencies = [
    "comm >=0.1.0",
    "ipykernel >=5.5.6",
    "jupyter_core >=4.9.2",
    "pexpect >=4.8",
    "jedi >=0.18",
]
dynamic = ["description", "version"]

[project.readme]
file = "README.rst"
content-type = "text/x-rst"

[project.optional-dependencies]
activity = ["portalocker >= 2.4.0"] # activity magic
parallel = ["ipyparallel >= 8.3.0"] # parallel magic

[dependency-groups]
test = [
    "pytest>=8.0",
    "pytest-cov>=7.0",
    "requests>=2.0",
    "jupyter_kernel_test>=0.7",
    "pytest-timeout>=2.4",
]
cover = [{include-group = "test"}]
typing = [
    "mypy>=1.0",
    "types-requests>=2.32.4.20260107",
]
docs = [
    "IPython>=8.0",
    "pypandoc>=1.16",
    "sphinx_rtd_theme>=3.1",
    "nbsphinx>=0.9",
    "jupyter_sphinx>=0.5",
    "sphinxcontrib-napoleon>=0.7",
    "recommonmark>=0.7",
    "sphinx_bootstrap_theme>=0.8",
    "numpydoc>=1.10",
    "myst-parser>=4.0",
    "pydot>=4.0",
]

[tool.hatch.version]
path = "metakernel/__init__.py"

[tool.hatch.build]
exclude = [
  "docs/",
  "examples",
]
artifacts = ["metakernel/py.typed"]

[tool.pytest.ini_options]
addopts= "-raXs  --durations 10 --color=yes --doctest-modules"
testpaths = ["metakernel/tests", "metakernel/magics/tests"]
timeout = 300
# Restore this setting to debug failures
# timeout_method = "thread"
filterwarnings= [
  # Fail on warnings
  "error",
  "ignore:unclosed event loop:ResourceWarning",
  "ignore:There is no current event loop:DeprecationWarning",
  # When we run ipcluster and then run the tests we get this warning
  "ignore:Widget.* is deprecated:DeprecationWarning",
  "module:datetime.datetime.utc:DeprecationWarning:dateutil",
  "module:datetime.datetime.utc:DeprecationWarning:ipyparallel",
  "module:Parsing dates involving a day of month without a year:DeprecationWarning",
  "module:'setParseAction' deprecated - use 'set_parse_action':DeprecationWarning",
]

[tool.mypy]
python_version = "3.9"
warn_unused_configs = true
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "metakernel.images.*"
ignore_errors = true
